/* @import '~bootstrap/dist/css/bootstrap.css'; */

body {
    margin: 0;
    /* -apple-system, BlinkMacSystemFont,    */
    font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
